<!DOCTYPE html>

<html lang="en">

<head>
  <!-- The jQuery library is a prerequisite for all jqSuite products -->
  <script type="text/ecmascript" src="../guriddo/js/jquery.min.js"></script>
  <!-- This is the Javascript file of jqGrid -->
  <script type="text/ecmascript" src="../guriddo/js/trirand/jquery.jqGrid.min.js"></script>
  <!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- We support more than 40 localizations -->
  <script type="text/ecmascript" src="../guriddo/js/trirand/i18n/grid.locale-en.js"></script>
  <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
  <link rel="stylesheet" type="text/css" media="screen" href="../guriddo/css/ui-darkness/jquery-ui.css" />
  <!-- The link to the CSS that the grid needs -->
  <link rel="stylesheet" type="text/css" media="screen" href="../guriddo/css/trirand/ui.jqgrid.css" />

  <link rel="stylesheet" type="text/css" media="screen" href="../css/site.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/song_database.css" />
  <meta charset="utf-8" />
  <title>Music Database</title>
</head>


<script type="text/javascript" src="../js/song_database.js"></script>

<body>
  <div class="navigationBar">
    <div class="navigationArea">
      <a class="navigationLinks" href="player.html">
        <div class="navigationDivs">Music Player</div>
      </a>
      <a class="navigationLinks" href="emotion.html">
        <div class="navigationDivs">Update Emotion</div>
      </a>
    </div>
  </div>
  <div class="database">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
  </div>
</body>

</html>